// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$clr-yellow:#FDD835;
$clr-blue:#2196F3;
$clr-green:#4CAF50;
$clr-orange:#FF9800;
$clr-red:#f44336;